<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
회원가입 페이지

<form action="" method="post">
    <h3>회원가입</h3>
    <p><label for = "">아이디</label><input type="text" name="id"></p>
       <p><label for = "">이름</label><input type="text" name="name"></p>
       <p><label for = "">주소</label><input type="text" name="address"></p>
       <p><label for = "">연락처</label><input type="text" name="phone"></p>
       <p><input type="submit" value="가입"></p>

</form>
</body>
</html>